{{ define "user/auth/register.html" }} {{template "header.html" .}}

<div class="text-center p-2 mt-4 fs-4 fw-medium">
    注册
</div>
<div class="container">
    <form method="post" action="/user/save" id="regsterForm">
        <div class="mb-3 row p-2 mx-auto mt-2">
            <input name="username" class="border-0 border-bottom border-dark-subtle p-2" placeholder="用户名" />
        </div>
        <div class="mb-3 row p-2 mx-auto">
            <input name="email" class="border-0 border-bottom border-dark-subtle p-2" placeholder="邮箱" />
        </div>
        <div class="mb-3 row p-2 mx-auto">
            <input name="password" class="border-0 border-bottom border-dark-subtle p-2" placeholder="密码" type="password" />
        </div>
        <div class="mb-3 row p-2 mx-auto">
            <input name="repassword" class="border-0 border-bottom border-dark-subtle p-2" placeholder="确认密码" type="password" />
        </div>
        <div class="mx-auto  g-0" id="errMsg">
        </div>
        <div class="row  my-5 p-3">
            <button class="btn btn-primary btn-lg mx-auto rounded-pill" type="submit">提交</button>
        </div>
    </form>
</div>

<script>
    document.querySelector("#regsterForm").addEventListener("submit", (e) => {
        e.preventDefault()
        const formData = new FormData(document.querySelector("#regsterForm"))
        const postDatas = Object.fromEntries(formData)
        console.log("postData", postDatas)
        fetch("/user/save", {
            method: 'post',
            body: JSON.stringify(postDatas)
        }).then(res => {
            console.log("response ok====>", res)
            if (res.status === 400) {
                res.json().then(data => {
                    console.log("data", data)
                    const wrapper = document.querySelector("#errMsg")
                    wrapper.innerHTML = [
                        `<div class="alert alert-danger alert-dismissible" role="alert">`,
                        `   <div>${data.errors}</div>`,
                        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                        '</div>'
                    ].join('')
                })

            }
            if (res.status === 200) {
                const wrapper = document.querySelector("#errMsg")
                wrapper.innerHTML = [
                    `<div class="alert alert-success alert-dismissible" role="alert">`,
                    `   <div>注册成功！</div>`,
                    '</div>'
                ].join('')
                setTimeout(() => {
                    window.location = "/index"
                }, 1000)
            }

        }).catch(err => {
            console.log("err====>", err)
        })
    })
</script>

{{template "footer.html" .}} {{end}}