{{ define "user/movie/index.html" }}
{{template "header.html" .}}

    <div class="container">
        <p>列表</p>
        <div class="row row-cols-2">
            {{range .movies}}
                <div class="col position-relative">
                    
                        <div>
                            <img class="img-thumbnail rounded object-fit-fill" src="/thumbs/{{.Thumbnail}}">
                        </div>
                        <div class="text-center">
                            <a href="/video/show/{{.ID}}" class="fst-normal text-decoration-none text-secondary stretched-link">
                            {{.Title}}
                            </a>
                        </div>
                    
                </div>
            {{end}}
        </div>
    </div>
{{ template "footer.html" .}}
{{end}}